@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="center display-4">Welcome to my Calculator website!</h2>
    <h4 class="center ">Please Select the calculator you would like to use from the Navigation Bar.</h4>


</div>
