@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="center display-4">Welcome to my Calculator website!</h2>
    <h3 class="center display-4">Please Select the calculator you would like to use from the Navigation Bar.</h3>


</div>
