@model InterestCalculator.Models.SimpleInterestViewModel

<h2>Simple Interest Calculator</h2>

<form asp-action="SimpleInterest" method="post">
    <div class="form-group">
        <label asp-for="Principal" class="inputField">Principal:</label>
        <input asp-for="Principal" type="number" class="form-control" />
    </div>
    <div class="form-group">
        
        <label asp-for="InterestRate" class="inputField " >Annual Interest Rate (%):</label>
        <input asp-for="InterestRate" type="number" step="0.01" class="form-control" />
    </div>
    <div class="form-group">
        
        <label asp-for="NumberOfInvestmentYears" class="inputField">Time (Years):</label>
        <input asp-for="NumberOfInvestmentYears" type="number" class="form-control" />
    </div>

    <button type="submit">Calculate</button>
</form>

@if (Model.FinalValue != 0)
{
    <p class="inputField" id="CalculatorOutput">
        Interest Gained: $@Model.InterestGain <br />
        Total Value at Maturity: $@Model.FinalValue
    </p>
}   